.title {
  font-size: 32px;
  margin: 32px 0;
}

.projects {
  width: 70%;
}

.menuProject {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 16px 0;
}

.selectForm {
  width: 250px;
}

@media only screen and (max-device-width: 900px) {
  .menuClassAndProject {
    flex-direction: column-reverse;
  }

  .selectForm {
    width: 200px;
    margin: 8px 8px;
  }
}