@import "../../../global.scss";

.title {
  font-size: 32px;
  margin: 16px 0;
}

.menuForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alignDateAndFile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  font-size: 14px;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media only screen and (max-device-width: 900px) {
  .menuForm {
    flex-direction: column-reverse;
  }

  .alignDateAndFile {
    flex-direction: column;
  }  
}