.link {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  transition: color .15s;
  border: 2px solid #aea8ee;
  border-radius: 5px;
  color: #6558f5;
  width: 100px;
}

.linkPurple {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  transition: color .15s;
  background-color: #6558f5;
  border-radius: 5px;
  color: #fff;
  width: 150px;
}

.linkPurple:hover {
  background-color: #4c3ee2;
  color: #fff;
}

.link:hover {
  transition-duration: 0.75s;
  background-color: #4c3ee2;
  border: 2px solid #4c3ee2;
  color: #fff;
}
