@import "../../global.scss";

.link {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: color .15s;
  border: 2px solid $color-purple-light;
  border-radius: 5px;
  background-color: #fff;
  color: $color-purple;
  margin: 5px;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.linkPurple {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Inter';
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  transition: color .15s;
  background-color: $color-purple;
  border: 2px solid $color-purple;
  border-radius: 16px;
  color: #fff;
  width: 175px;
  height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 10px;
}

.linkPurple:hover {
  background-color: $color-purple-dark;
  color: #fff;
}

.link:hover {
  transition-duration: 0.75s;
  background-color: $color-purple-dark;
  border: 2px solid $color-purple-dark;
  color: $color-white;
}

@media only screen and (max-device-width: 900px) {
  .link, .linkPurple {
    padding: 0.150rem 0.5rem;
  }
}