@import "../../global.scss";

.comeBackIcon {
  color: #6B7280;
  width: 24.72px;
  height: 24.72px;
  cursor: pointer;
}

.boxButton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 60px;
}