.containerJustifyCenter {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 92vh;
  width: 90%;
}

.containerAlignCenter {
  display: none;
  flex-direction: column;
  align-items: center;
  min-height: 92vh;
  width: 90%;
}
