@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');
@import "../../global.scss";

input, select, option {
  font-family: Cascadia Mono, Consolas, 'Courier New', monospace !important;
  font-weight: lighter;
}


.configStatusDanger {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #EB5757;
}

