@import "../../global.scss";

.menuCreateQuest {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 20px 0;
}

.quest {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid $color-gray;
  border-bottom: 0;
  width: 1200px;
  height: 80px;
}

.quest:last-child {
  border-bottom: 2px solid $color-gray;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border: 2px solid $color-green;
  background-color: $color-green-light;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: $color-white;
}

.finished {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border: 2px solid $color-green-dark;
  background-color: $color-green-dark;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: $color-white;
}

.containerQuests {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.boxStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

.boxBtn {
  margin: 10px;
}

.boxForLayout {
  min-width: 450px;
  min-height: 66px;
  margin-bottom: 10px;
}

@media only screen and (max-device-width: 900px) {
  .quest {
    flex-direction: column;
    height: 150px;
    width: 300px;
  }

  .menuCreateQuest {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .active, .finished {
    width: 50%;
  }
}