@import "../../global.scss";

.title {
  font-size: 32px;
}

.menuForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alignDateAndFile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 5px;
}