@import "../../global.scss";

.title {
  font-size: 32px;
}

.menuForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectForm {
  margin: 20px 0;
  width: 100%;
  cursor: pointer;
}