@import "../../global.scss";

.title {
  font-size: 32px;
  margin: 16px 0;
}

.menuForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectForm {
  margin: 20px 0;
  width: 100%;
  cursor: pointer;
}

@media only screen and (max-device-width: 900px) {
  .menuForm {
    flex-direction: column-reverse;
  }
}