@import "../../global.scss";

.statusBarGreen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  width: 462px;
  height: 36px;
  background: #27AE60;
  color: white;
  border-radius: 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 25px;
}