@import "../../global.scss";

.title {
  font-size: 32px;
  margin: 32px 0;
}

.groups {
  width: 1200px;
}

.menuClassAndGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

.selectForm {
  width: 300px;
  color: $color-black;
}
