.containerGroups {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92vh;
}

.title {
  font-size: 32px;
  margin: 32px 0;
}

.groups {
  width: 1200px;
}

.menuClassAndGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

.selectForm {
  width: 200px;
  color: black;
}
