@import "../../global.scss";

.title {
  font-size: 32px;
  margin: 32px 0;
}

.groups {
  width: 70%;
}

.menuClassAndGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  width: 100%;
}

.selectForm {
  width: 300px;
  color: $color-black;
}

@media only screen and (max-device-width: 900px) {
  .menuClassAndGroup {
    flex-direction: column-reverse;
  }

  .selectForm {
    width: 200px;
    margin: 8px 8px;
  }
}