.titleSecundary {
  font-size: 20px;
  margin: 20px 0;
}

.table {
	border: solid 2px #c3cfd9;
  border-collapse: collapse;
  align-items: center;
}

.header {
  border: solid 2px #c3cfd9;
  border-collapse: collapse;
  font-weight: bold;
}

.line {
  background-color: #d8e5f0;
}

.line:nth-child(even) {
  background-color: #fff;
}
