@import "../../global.scss";

.listTaskGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: auto;
}

.titleSecundary {
  font-size: 20px;
  margin: 20px 0;
  font-weight: 500;
}

.table {
	border: 1px solid #D1D5DB;
  border-collapse: collapse;
  align-items: center;
  border-radius: 16px;
}

.header {
  border: solid 2px #D1D5DB;
  border-collapse: collapse;
  font-weight: bold;
  text-align: center;
}

.line {
  background-color: #dcd8f0;
  text-align: center;
  font-weight: 400;
}

.line:nth-child(even) {
  background-color: #fff;
  text-align: center;
}

.icon {
  width: 25px;
  height: 25px;
  color: $color-purple-dark;
}