@import "../../../global.scss";

.subtitle {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 400;
  margin: 10px;
}

.title {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 600;
  margin: 10px;
  text-align: center;
  margin-bottom: 40px;
}

.textBody {
  font-family: 'Inter';
  font-size: 22px;
  font-weight: 300;

}

.alignQuestInfo {
  display: flex;
  justify-content: center;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: 2px solid $color-green;
  background-color: $color-green-light;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: $color-white;
}

.finished {
  display: block;
  margin-top: 35px;
  border: 2px solid $color-red;
  background-color: $color-red;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: $color-white;
}

.icon {
  margin: 5px;
  width: 20px;
  height: 20px;
}