.containerQuest {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  min-height: 92vh;
}

.title {
  display: flex;
  justify-content: space-around;
  font-size: 26px;
  margin: 20px 0;
}

.quest {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #c3cfd9;
  border-radius: 5px;
  width: 1200px;
  height: 80px;
  margin: 20px 0;
}


.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: 2px solid #1aae9f;
  background-color: #1aae9f;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.finished {
  display: block;
  margin-top: 35px;
  border: 2px solid #d3455b;
  background-color: #d3455b;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.icone {
  margin: 5px;
  width: 30px;
  height: 30px;
}