@import "../../../global.scss";

.logo {
  width: 100%;
}

.title {
  margin: 40px;
  font-size: 32px;
}

.titleSecondary {
  margin: 40px;
  font-size: 24px;
}

.textAlign {
  margin: 15px;
  font-size: 16px;
  font-weight: lighter;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 8px;
  height: 50vh;
  border: 2px solid $color-gray;
  border-radius: 5px;
}

.usefulLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerBoxFlexDirectionRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
}

.iconMenuFolder {
  width: 70px;
  height: 70px;
  color: #845EC2;
  margin-top: 30px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 274px;
  height: 201px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  padding: 15px;
  margin-left: 20px;
}

.nomeMenu {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}

.subtitle {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 400;
  margin: 10px;
}

.iconMenuGrid {
  width: 70px;
  height: 70px;
  color: #FF6F91;
  margin-top: 30px;
}

@media only screen and (max-device-width: 900px) {
  .title {
    margin: 30px;
    font-size: 22px;
  }
  
  .links {
    flex-direction: column;
  }

  .article {
    padding: 30px;
  }

  .containerBoxFlexDirectionRow {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .box {
    margin-top: 30px;
  }
}