.title {
  font-family: "Inter";
  font-weight: 400;
  font-size: 32px;
  margin: 32px 0;
  text-align: center;
}

.projects {
  width: 100%;
}

.menuClassAndProject {
  display: flex;
  align-items: center;
  width: 100%;
}

.css-1o1tv0d-control  {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  position: absolute;
  width: 100%;
  height: 57px;
  left: 245px;
  top: 110px;
  background: #F9FAFB;
  border: 1px solid #D1D5DB !important;
  border-radius: 16px;
  margin-right: 50px !important;
}


@media only screen and (max-device-width: 900px) {
  .menuClassAndProject {
    flex-direction: column-reverse;
  }

  .selectForm {
    width: 200px;
    margin: 8px 8px;
  }
}