@import "../../global.scss";

.task {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid $color-gray;
  border-bottom: 0;
  height: 120px;
}

.task:last-child {
  border-bottom: 2px solid $color-gray;
}

.infoTask {
  display: flex;
  flex-direction: column;
}

.infoText {
  font-size: 18px;
  margin: 4px;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: 2px solid $color-green;
  background-color: $color-green-light;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: $color-white;
  height: 30px;
}

.finished {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: 2px solid $color-green-dark;
  background-color: $color-green-dark;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: $color-white;
  height: 30px;
}

@media only screen and (max-device-width: 900px) {
  .titles {
    visibility: hidden;
  }

  .task {
    flex-direction: column;
    height: 160px;
  }

  .active, .finished {
    width: 50%;
  }
}