@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');
@import "../../global.scss";

input, select, option {
  font-family: Cascadia Mono, Consolas, 'Courier New', monospace !important;
  font-weight: lighter;
}

.base {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-gray;

  font-family: 'Cabin', sans-serif;
  font-weight: lighter;
  min-height: 92vh;
  width: 100%;
}