@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');
@import "../../global.scss"; 

.nav {
  font-family: 'Cabin', sans-serif;
  background-color: $color-white;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid $color-gray;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-black;
  background-color: $color-white;
  text-decoration: none;
}

.navItem:hover {
  color: $color-purple;
}

.navItemDropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-purple !important;
}

.navLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown {
  background-color: $color-purple;
  border: 2px solid $color-purple;
}

.dropdown:focus, .dropdown:hover {
  background-color: $color-purple-dark !important;
  outline: none !important;
  box-shadow: none !important;
}

.title {
  font-size: 32px;
  margin: 0 16px;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0 4px;
}

.sidebar {
  font-family: 'Cabin', sans-serif;
  width: 300px;
}

.alignLogo {
  display: flex;
  align-items: center;
}

@media only screen and (max-device-width: 900px) {
  .username {
    font-size: 10px;
    margin: 0 2px;
  }

  .icon {
    width: 10px;
    height: 10px;
    margin: 0;
  }
  
  .sidebar { 
    width: 100%;
  }

  .title {
    visibility: hidden;
  }  
}