.nav {
  background-color: #fff;
  height: 50px;
}

.navItem {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 32px;
}

.iconeUser {
  width: 30px;
  height: 30px;
  margin: 0 8px;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 0 8px;
}