@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');

.nav {
  font-family: 'Cabin', sans-serif;
  background-color: #fff;
  height: 50px;
}

.navItem {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.navItem:hover {
  color: #6558f5;
}

.navLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 32px;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0 4px;
}

.sidebar {
  font-family: 'Cabin', sans-serif;
  width: 250px;
}

.dropdown {
  background-color: #6558f5;
  border: none;
  outline: none;
  box-shadow: none;
}

.dropdown:focus, .buttonForm:active {
  outline: none;
  box-shadow: none;
  border: none;
  background-color: #4c3ee2;
}

.dropdown:hover {
  background-color: #4c3ee2;
}