@import "../../global.scss";

.titles {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin: 30px 0;
}

.title {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0 95px 0 20px;
}

.project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid $color-gray;
  border-bottom: 0;
  height: 80px;
}

.project:last-child {
  border-bottom: 2px solid $color-gray;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: 2px solid $color-green;
  background-color: $color-green-light;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: $color-white;
  height: 30px;
}

.finished {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: 2px solid $color-red;
  background-color: $color-red;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: $color-white;
  height: 30px;
}

.icon {
  margin: 0 5px;
}