@import "../../global.scss";

.table {
	border: solid 2px $color-gray;
  border-collapse: collapse;
  align-items: center;
}

.header {
  border: solid 2px $color-gray;
  border-collapse: collapse;
  font-weight: bold;
}

.line {
  background-color: $color-gray-light;
}

.line:nth-child(even) {
  background-color: $color-white;
}