@import "../../global.scss";

.listSubject {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.subjectItem, .subjectItemActive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 400px;
  border: solid 2px $color-gray;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}

.subjectItemActive {
  border: solid 2px $color-purple-light;
}

@media only screen and (max-device-width: 900px) {
  .listSubject {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .subject {
    display: flex;
    justify-content: center;
    width: 90%;
  }
  
  .subjectItem, .subjectItemActive { 
    width: 90%;
  }
}