@import "../../global.scss";

.title {
  font-size: 32px;
}

.form {
  color: $color-gray-dark;
  font-weight: bold;
  border: 3px solid $color-gray;
  border-radius: 5px;
  margin-top: 32px;
  padding: 50px;
  width: 1200px;
}

.label {
  margin: 5px 0;
}

.selectButtonAlign {
  display: flex;
  align-items: center;
}

.inputForm {
  border: 2px solid $color-gray;
  border-radius: 5px;
  margin: 8px 5px;
  max-height: 200px;
}

.cardGroup {
  color: $color-gray-dark;
  font-weight: bold;
  border: 3px solid $color-gray;
  border-radius: 5px;
  width: 600px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.student {
  font-size: 20px;
  width: 120px;
}

.leadStudent {
  font-size: 14px;
}

.icon {
  font-size: 16px;
  color: $color-purple-light;
}

.menuForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectForm {
  margin: 20px 0;
  width: 100%;
  cursor: pointer;
}
