.title {
  font-size: 32px;
  margin: 32px 0;
}

.projects {
  width: 1200px;
}

.menuClassAndProject {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.selectForm {
  width: 250px;
}
