@import "../../global.scss"; 


a {
  text-decoration: none;
}

a:hover {
  text-decoration:none !important;
  cursor:pointer;  
}

.userRole {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.065em;
  color: #C8C8C8;
}

.userFirstName {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;
  color: #656565;
}

.sidebarClosed {
  font-family: 'Inter', sans-serif;
  position: absolute;
  width: 120px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.sidebarOpen {
  font-family: 'Inter', sans-serif;
  position: absolute;
  width: 280px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}


.boxIcon {
  display: flex;
  justify-content: center;
}


.iconStyle {
  width: 46px;
  height: 46px;
  color: #EE5C4D;

  cursor: pointer;
}

.boxHeader{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin-top: 25px;
}

.boxName{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 50px;
}

.littleBoxMenu {
  width: 75px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.boxMenu {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 208px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 15px;
  padding-left: 20px;
}

.nameMenuGrid {
  font-family: 'Inter';
  outline: none;
  margin-left: 15px;
  color: #FF6F91;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;  
  letter-spacing: 0.065em;
}

.nameMenuHome {
  font-family: 'Inter';
  outline: none;
  margin-left: 15px;
  color: #FFC75F;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;  
  letter-spacing: 0.065em;
}

.nameMenuFolder {
  font-family: 'Inter';
  outline: none;
  margin-left: 15px;
  color: #845EC2;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;  
  letter-spacing: 0.065em;
}

.nameMenuGroup {
  font-family: 'Inter';
  outline: none;
  margin-left: 15px;
  color: #FF9671;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;  
  letter-spacing: 0.065em;
  
}

.nameMenuTask{
  font-family: 'Inter';
  outline: none;
  margin-left: 15px;
  color: #5E8CC2;;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;  
  letter-spacing: 0.065em;
  
}

.iconMenuHome {
  color: #FFC75F;
  width: 26px;
  height: 26px;
  cursor: pointer; 
}
.containerLittleBoxMenu {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.iconMenuGrid {
  width: 26px;
  height: 26px;
  color: #FF6F91;
  cursor: pointer;
}

.iconMenuFolder {
  width: 26px;
  height: 26px;
  color: #845EC2;
  cursor: pointer;
}

.iconMenuGroup {
  width: 26px;
  height: 26px;
  color: #FF9671;
  cursor: pointer;
}

.iconMenuTask {
  width: 26px;
  height: 26px;
  color: #5E8CC2;
  cursor: pointer;
}

.divCenter {
  margin-top: 30px;
}

.sair {
  position: absolute;
  bottom: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.065em;
  color: #656565;
  cursor: pointer;
}

.iconSair {
  margin-left: 10px;
  color: #656565;
}

.academicQuest {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.065em;
  color: #ED3F7C;
}