@import "../../../global.scss";

.title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 32px;
  margin: 32px 0;
  text-align: center;
}

.projects {
  width: 70%;
}

.menuClassAndProject {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 16px 0;
}

.selectForm {
  width: 300px;
  color: $color-black;
}


@media only screen and (max-device-width: 900px) {
  .menuClassAndProject {
    flex-direction: column-reverse;
  }

  .selectForm {
    width: 200px;
    margin: 8px 8px;
  }
}