@import "../../global.scss";

.buttonForm {
  background-color: $color-purple;
  border: none;
  width: 150px;
  margin: 10px 0;
}

.buttonForm:focus, .buttonForm:active {
  outline: none;
  background-color: $color-purple-dark;
}

.buttonForm:hover {
  background-color: $color-purple-dark;
}