@import "../../global.scss";

.buttonForm {
  font-family: 'Inter';
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  width: 175px;
  height: 40px;
  background: #27AE60;
  border-radius: 16px;
  border: none;
  margin-bottom: 10px;
}

.buttonForm:focus, .buttonForm:active {
  outline: none;
  background-color: #1c8c4bfb;
}

.buttonForm:hover {
  background-color: #1c8c4bfb;
}

@media only screen and (max-device-width: 900px) {
  .buttonForm {
    width: 70%;
  }
}