@import "./stylesheets/typography.scss";
@import "./stylesheets/layout.scss";


$color-white: #fff;
$color-purple: #6558f5;
$color-purple-dark: #4c3ee2;
$color-purple-light: #aea8ee;
$color-gray: #c3cfd9;
$color-gray-thin: #F2F4F7;
$color-gray-light: #d8e5f0;
$color-gray-dark: #484c4e;
$color-green: #1aae9f;
$color-green-light: #1aae9f;
$color-green-dark: #157c72;
$color-red: #d3455b;
$color-black: #000;

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-purple-light !important;
  margin: 20px auto;
}

.error {
  margin: 15px 0;
  font-style: italic;
  font-size: 12px;
}

.withoutDataError {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
}

.form {
  color: $color-gray-dark;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 32px;
  padding: 50px;
  width: 90%;
}


.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-gray-thin;
  margin-top: 10px;
  font-weight: 500;
}


.formHalf {
  position: relative;
  width: auto;
  height:   auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
}



.inputForm {
  border: 2px solid $color-gray;
  border-radius: 5px;
  margin: 10px 0;
  max-height: 200px;
}


.inputFormLogin {
  border-radius: 8px;
  max-height: 200px;
  width: 395px;
  height: 60px;
  font-weight: 500;
}


.inputFormChat {
  border: 2px solid $color-gray;
  border-radius: 5px;
  margin: 10px 0;
  max-height: 200px;
  max-width: 90%;
}

.inputForm:focus {
  border-color: $color-purple-light;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="file"] {
  display: none;
}

.inputFile {
  padding: 5px;
  width: 140px;
  border: 2px solid $color-gray;
  border-radius: 5px;
  color: $color-purple;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.inputArea{
  border: 2px solid $color-gray;
  min-height: 120px;
  height: 120px;
  margin-bottom: 20px;
}

.cursorPointer {
  cursor: pointer;
}