$color-white: #fff;
$color-purple: #6558f5;
$color-purple-dark: #4c3ee2;
$color-purple-light: #aea8ee;
$color-gray: #c3cfd9;
$color-gray-light: #d8e5f0;
$color-gray-dark: #484c4e;
$color-green: #1aae9f;
$color-green-light: #1aae9f;
$color-red: #d3455b;
$color-black: #000;

.error {
  margin: 15px 0;
  font-style: italic;
  font-size: 14px;
}