@import "../../../global.scss";

.subtitle {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 400;
  margin: 10px;
}
.title {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 600;
  margin: 10px;
  text-align: center;
  margin-bottom: 40px;
}

.textBody {
  font-family: 'Inter';
  font-size: 22px;
  font-weight: 300;

}

.status {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 300;

}



.questSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  width: 700px;
  height: auto;
  background: #F9FAFB;
  border: 1px solid #D1D5DB;
  border-radius: 16px;
}

.containerViewProject {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 12px;
  width: 100%;
  height: 182px;
  background: #F9FAFB;
  border: 1px solid #D1D5DB;
  border-radius: 16px;
}
.questInfo {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.questStatus {
  display: flex;
  flex-direction: column;
  margin-left: 75%;
  margin-top: 20px;
}



@media only screen and (max-device-width: 900px) {
  .questInfo {
    margin-right: 0;
  }

  .questSection {
    padding: 5px;
  }

  .questStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:0;
  }
}