@import "../../../global.scss";

.title {
  font-size: 24px;
  margin: 10px;
}

.menuForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questSection {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $color-gray;
  border-radius: 5px;
  padding: 50px;
  margin: 20px 0;
}

.questInfo {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

@media only screen and (max-device-width: 900px) {
  .questInfo {
    margin-right: 0;
  }

  .questSection {
    padding: 5px;
  }
}